.form {
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  border-radius : 5px;
  display : flex;
  flex-direction : column;
  width : 350px;
  height : 370px;
  justify-content : center;
  align-items : center;
  margin-top : 100px;
  padding-top : 30px;
  padding-bottom: 30px;
}

.formItem {
  width: 80%;
}
.button{
  box-shadow : none;
  border-radius : 50px;
  text-transform : capitalize;
}